#This file is for storing your secret variables.
export Var1=value1
export Var2=value2
export Var3=value3
export Var4=value4

# :: I am currently using below variables:
#:MY_PC_PASSWORD_FOR_SSH: for storing my home pc's password for usage through shh without prompting for password for each time.
